*~
*.o
*.lo
*.la
.dirstamp
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
compile
install-sh
libtool
ltmain.sh
missing
stamp-h1
autom4te.cache
.cproject
.project
kwinject.out
test-driver

.deps
.libs
.settings/
m4/

slipcat
libslip-test